* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background: rgb(250,250,250);
font-family: poppins;
}

.container {
    display: flex;
    flex-direction: row;
}

.left-sidebar {
    width: 18%;
    height: 100vh;
    padding: 30px 15px;
}

.left-sidebar ul {
    padding-top: 40px;
    padding-bottom: 70px;
}

.left-sidebar li {
    list-style: none;
    padding-bottom: 40px;
}

.left-sidebar li a {
color: #1c1e21;
text-decoration: none;
font-size: 1.1rem;
font-weight: 400;
}

.left-sidebar ul li a i {
margin-right: 10px;
font-size: 1.1rem;
}

.profile-picture img {
    width: 24px;
    height: 24px;
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.profile-picture a {
    display: flex;
    align-items: center;
}

.main-bar {
    width: 47%;
    height: 150vh;
}
  
.storiesWrapper {
    display: flex;
    margin-top: 30px;
    margin-left: 6rem;
    border: 1px solid #80808071;
    border-radius: 10px;
  }
  
  .userCard {
    align-items: center;
    margin: 0.5rem;
  }
  
  .imgWrapper img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }
  
  .imgWrapper {
    padding: 5px;
    background-image: url('..//images/instbg.png');
    background-size: cover;
    background-position: center;
  }
  
  /* .userDetails {
    margin-left: 0.6rem;
  } */
  
  .userDetails .username {
    font-size: 0.8rem;
    font-weight: 400;
  }

  /* .userDetails .userHandle {
    font-size: 0.8rem;
    font-weight: 800;
    color: #545454;
  } */
  
  
  @media screen and (max-width: 800px) {
    .storiesWrapper {
      display: none;
    }
  
    .navbar {
      display: none;
    }
  }
  

/* End Caleb */

.right-sidebar {
    background-color: yellow;
    width: 35%;
    height: 150vh;
}


/* .insta-post {
    width: 473px;
    height: 150vh;
    background: blue;
} */